/*
  Theme Name: Bridget's Theme
  Description: Bridget's Authentify Theme in Wordpress
  Version: 1.0
  Author: Bridget Cahill (Clique Studios)
  Author URI: http://cliquestudios.com
*/

* {
  font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

#header {
    display: block;
    position: relative;
    z-index: 999999999;
    width: 100%;
    float: left;
    background: #fff;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

#site-wrapper {
    display: block;
    position: relative;
    z-index: 999;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d8d8d8;
}

#nav-menu-wrapper{
  display: block;
  position: relative;
  z-index: 99999999;
  float: left;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #d8d8d8;
}
.site-info, .nav-menu {
  width: 100%;
  padding: 0 2%;
}

#logo {
  display: block;
  float: left;
  width: 225px;
  height: 60px;
  margin-top: 10px;
}

#logo a{
  /*background: url("authentify.png") center center no-repeat;;*/
  width: 225px;
  height: 60px;
  text-indent: -9999px;
  background-size: 100%;
  outline: 0 !important;
  font-size: 35px;
  color: black;
  /*font-family:'core_sans_nr_35_lightregular';*/
  text-decoration: none;
}

#call-to-action {
    display: block;
    float: right;
    width: 380px;
    margin-top: 15px;
    padding-right: 40px;
}

#call-to-action .phone {
    float: right;
    font-size: 24px;
    line-height: 50px;
    color: #494546;
    margin: 0 20px 0 0;
}

#call-to-action .blue-btn {
    width: 160px;
}

.blue-btn {
    display: block;
    float: right;
    width: auto;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #009abe;

    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.blue-btn:hover {
  background-color: #94d500;
}

.menu ul li {
  list-style: none;
  float: left;
}

.menu ul li a{
  text-decoration: none;
  color: black;
  display: block;
  width: auto;
  padding: 0 40px;
  font-size: 18px;
  line-height: 60px;
  color: #454142;
}

.menu ul li a:hover{
  color: #94d500;
}

#try-demo {
  display: block;
  position: relative;
  z-index: 99;
  float: left;
  width: 100%;
  height: 160px;
  background: #222226;
}

.demo-wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 920px;
}
.demo-wrapper p{
  display: block;
  float: left;
  width: 60%;
  margin-top: 40px;
  font-size: 20px;
  line-height: 38px;
  color: #fff;
}

.demo-wrapper a {
    width: 300px;
    float: right;
    height: 60px;
    line-height: 60px;
    margin-top: 50px
}

#footer {
    display: block;
    position: relative;
    z-index: 99;
    float: left;
    width: 100%;
    background: #17171a;
}

.footer-wrapper {
  width: 100%;
  padding: 0 2%;
  display: block;
  margin: 0 auto;
  max-width: 1280px;

}

.footer-logo {
    display: block;
    float: left;
    width: 100%;
    height: 60px;
    margin: 60px 0 40px 0;
}

.footer-logo img {
    max-width: 20%;
}

.footer-wrapper .contact {
    display: block;
    float: left;
    width: 30%;
}

.footer-wrapper .solutions, .footer-wrapper .learn, .footer-wrapper .social {
    display: block;
    float: left;
    width: 23.33%;

  }

.footer-wrapper .compliance {
    display: block;
    float: left;
    width: 100%;
}

.footer-wrapper .copyright {
    display: block;
    float: left;
    width: 100%;
    text-transform: uppercase;
    color: #6b6a6c;
    margin: 40px 0;
  }

  .contact, .solutions, .learn, .social {
    color:white;
  }

  .contact ul, .solutions ul, .learn ul, .social ul{
    list-style: none;
    padding-left: 0px;
  }

  .solutions ul li a, .learn ul li a, .social ul li a{
    text-decoration: none;
    color:white;
  }

  .solutions ul li a:hover. learn ul li a:hover, .social ul li a:hover{
    color: #94d500;
  }